.container{
display: grid;
grid-template-columns: 400px 900px 400px ;
grid-template-rows:150px 600px 150px ;
grid-template-areas:
"hd hd hd hd hd"
"main main main main sd"
"ft ft ft ft ft"
;
}
.ull{
    position: relative;
    grid-area: hd;
    display: flex;
    /* align-items: center; */
    /* border:2px blue solid; */
    width :1200px;
    height: 100px;
    margin-top: -20px;
    align-items: center;  
    background-color: white;
}
.ull :hover , .sidebar :hover {
   color:black;
}
li{
    padding:10px 70px 10px 70px;
    color: rgb(168, 162, 162);
    font-weight: bold;
    font-size: 20px;
    align-items: center;
}
a{
    text-decoration: none;
    color: palegoldenrod;
    
}
.first {
    background-color: black;
  
}
.hd{

    grid-area:hd;
}
.main{
    grid-area:main;
    display:flex;
    justify-content:space-between;
    margin-left: 200px;
}
.gallery img{
    /* border:2px red solid; */
    display:flex;
    width :900px;
    height :870px;  
    margin-top: -150px; 

}
.btn{
    background-color: white;
    border: none;
    font-size: 20px;
}
div p{
    width: 500px;
}
h1{
    font-size: 50px;
}
.sd{
   
    grid-area:sd;
    /* margin-left: 200px; */
}
.sidebar{
    display:flex;
    transform : rotate(90deg);
    width:50px;
    /* border:2px red solid; */
}
.button div{
    width: 30px;
    height:6px;
    background-color: black;
    margin: 5px 0px;
}
.button{
    margin-left: 20px;
}
.ft{
   
    grid-area:ft;
}
.fg{
    display: flex;
    background-color: rgb(245, 229, 7);
    width :190px;
    height :80px;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 70px 10px 70px;
    margin-left: 180px;
}
.fn{
    display: flex;
    background-color: rgb(0, 0, 0);
    width :300px;
    height :170px;
    /* align-items: center; */
    color:white;
    font-weight: bold;
    font-size: 40px;
    /* padding: 10px 70px 10px 70px; */
    margin-left: 470px;
    margin-top: -170px;
}
.wbar{
    width: 200px;
    height:5px;
    background-color: rgb(255, 255, 255);
    margin-top:80px;
    margin-left: 20px;
}